<h2 class="example-p">Upload a drawing</h2> 
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Action image -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Drawing </th>
        <td mat-cell *matCellDef="let row" >
            <div [innerHTML] = "row.outerHtml | safeHtml" ></div>
        </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Tags Column -->
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
      <td mat-cell *matCellDef="let row"> {{row.tags}} </td>
    </ng-container>

    <!-- Action Open Column -->
    <ng-container matColumnDef="actionOpen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row" > 
          <span><button mat-button (click)="open(row)">Open</button></span>
      </td>
    </ng-container>
    
    <!-- Action Remove Column -->
    <ng-container matColumnDef="actionRemove">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row" >
            <span><button mat-button (click)="remove(row)">Delete</button></span>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 8]"></mat-paginator>
  
</div>



<div class="erreurSer" *ngIf="isOnErrors">
  <i>Oups! Error! Verify your connection to the server.</i>
</div>
<div *ngIf="displaySaverMessage | async" class="feedback">
    Operation in progress...
</div>

<form [formGroup] = "drawingFileform" (ngSubmit)="onSubmit()" class="formup">
  <fieldset>
      <div class="title">Upload local drawing</div>
  <input type="file" (change)="onFileChange($event)">
  <button mat-stroked-button class="button" type="submit"  [disabled]="drawingFileform.invalid" value="upload">Upload</button>
  <div class="erreurSer" *ngIf="isOnErrorsLocal">
     <i> Oups! Invalid file! Select another file.<br>The file format needs to be .txt<br>The drawing needs to come from our website.</i>
  </div>
</fieldset> 
 </form>
 

<div class="butClose">
  <button mat-stroked-button class="button" (click)="onClose()">OK</button>
</div>



