.mat-slider-horizontal {
    width: 250px;
    color: white;
  }
.example-p {
    margin: 10px;
    color: rgb(82, 82, 82);
    font-family: Roboto, Arial, sans-serif;
}
.input{
    font-family: Roboto, Arial, sans-serif;  
}