.mat-icon {
    font-size: 20px;
}


.mat-sidenav-container .mat-sidenav {
    background-color:white;
}

.mat-list-item {
    color: rgb(40, 40, 40);
    font-family: Roboto, Arial, sans-serif;
}

.mat-drawer {
    background-color: lightgray;
}

img{
    margin:10px;
}