
mat-drawer-container {
    width:250px;
    margin:10px;
    background-color:lightgray;
    color:white;
}
.example-p {
  margin: 10px;
  color: rgb(82, 82, 82);
  font-family: Roboto, Arial, sans-serif;
}
.input{
  font-family: Roboto, Arial, sans-serif;
}

.mat-icon{
  margin:10px;
}