.example-p {
  color: rgb(82, 82, 82);
  font-family: Roboto, Arial, sans-serif;
}

fieldset i{   
  display: inline-block;
  width: 150px;
}
h2{
  text-align: center;
  }
  div{

      text-align: center;
  }