.drawer {
    width: 266px;
    background-color: lightgray;
}

.mat-slider-horizontal {
  width: 240px;
}
.example-p {
  margin: 10px;
  color: rgb(82, 82, 82);
  font-family: Roboto, Arial, sans-serif;
}